<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户的添加</title>
    <script src="/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" href="/bootstrap-table/bootstrap-table.css">
    <script src="/bootstrap-table/bootstrap-table.js"></script>
    <script src="/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

</head>
<body>
<table id="myList"></table>

<script type="text/javascript">
    $(function(){
        initDategrid();
    });
    function initDategrid(){
            $('#myList').bootstrapTable({
            toolbar:'#toolbar',
            url:"/login/userList",
           // pagination:true, //是否展示分页
            pageList:[1,3,5, 10, 50],//分页组件
            //pageNumber:1,
                method:'POST',
                dataType:'json',
            //pageSize:5,//默认每页条数
            //search:true,//是否显示搜索框
            //searchText:'试试',//初始化搜索文字
            showColumns:false,//是否显示 内容列下拉框
            showToggle:false,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch:false,//是否显示 数据条数选择框
            showRefresh:false,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
            striped:true,
            //queryParams:function(){
               // return{
                  //  page: this.pageNumber,
                   // rows: this.pageSize,
               // };
            //},
            columns:[

                {field:'xxx',title:'',width:60,align:'center',checkbox:true},
                {field:'id',title:'ID',width:60,align:'center',
                    formatter: function(value,row,index){
                    console.log(value)
                    }
                },
                {field:'username',title:'用户名',width:60,align:'center'},
                {field:'password',title:'密码',width:100,align:'center'},
                {field:'salt',title:'盐值',width:100,align:'center'}

            ]
        })
    }
</script>

</body>

</html>